.body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101922;
    color: white;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; /* Toma el alto restante */
    margin: 0 10px;
    overflow: hidden; /* Evita desbordamiento */
}

.main {
    flex: 1; /* Ocupa el espacio disponible, empuja el navbar hacia abajo */
    overflow-y: auto; /* Si hay mucho contenido, aparece scroll */
}

.nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    background-color: rgba(16, 25, 34, 0.534);
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.75rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    max-width: 100px;
    text-decoration: none;
    color: white;
    &:active{
        background-color: #002142;
    }
    
}

.active{
    color: rgb(47, 140, 216);
}

.nav-link .label {
    font-size: 0.9rem;
}
